@import "tailwindcss";
@config "../tailwind.config.js";

/* react-big-calendar event kutusu özelleştirme */
.rbc-event {
  min-height: 16px !important;
  max-height: 20px !important;
  /* max-width: 25%; */
  padding: 0 2px !important;
  /* font-size: 11px !important; */
  border-radius: 4px !important;
  background: #2563eb !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 0 0 1.5px #e5e7eb;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
.rbc-event-label {
  display: none !important;
}

.rbc-allday-cell,
.rbc-allday-header {
  display: none !important;
}
.rbc-time-content {
  border: none !important;
}
